@model PagedList.IPagedList<DAL.EF.Vaccine>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navlink {
    <li class="nav-item">
        <a class="nav-link " href="~/Home/Index" onclick="changeColor(this)">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="changeColor(this)">Về chúng tôi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/ListVaccine/Index" onclick="changeColor(this)">Vaccine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="changeColor(this)">Tin tức</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#section-form" onclick="changeColor(this)">Liên hệ</a>
    </li>
    <script>
        function changeColor(link) {

            var links = document.querySelectorAll('.nav-link');
            // Loại bỏ class active
            links.forEach(function (link) {
                link.classList.remove('active');
            });
            // Thêm class active vào phần tử được chọn
            link.classList.add('active');
        }
    </script>
}
@section head{

}
@section body{
    <div class="fashion_section">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="fashion_section_2">
                            <div class="row">
                                <div class="product_section layout_padding">
                                    <div class="container">
                                        <h1 class="fashion_taital">Danh sách Vaccines</h1>
                                        <div class="product_section_2 layout_padding container">
                                            <div class="row">
                                                @if (Model.Count == 0)
                                                {
                                                    <a colspan="9" class="text-center">Không có dữ liệu</a>
                                                }
                                                @if (Model.Count != 0)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        <div class="col-lg-4 col-sm-4">
                                                            <div class="box_main">
                                                                <h4 class="shirt_text">@item.NameVaccine</h4>
                                                                <p class="price_text">Nơi sản xuất:  <span style="color: #262626;"> @item.Munafacturer</span></p>
                                                                <div class="electronic_img"><a href="/ListVaccine/Detail/@item.ID"><img src="@item.Path" class="image_1"></a></div>
                                                                <div class="btn_main">
                                                                    <div class="buy_bt"><a href="#">Schedule</a></div>
                                                                    <div class="seemore_bt">
                                                                        <button type="button" class="btn btn-outline-danger">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                                                            </svg>
                                                                            Wishlist
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

