
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navlink {
    <li class="nav-item">
        <a class="nav-link " href="~/Home/Index" onclick="changeColor(this)">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Home/About" onclick="changeColor(this)">Về chúng tôi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/ListVaccine/Index" onclick="changeColor(this)">Vaccine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Wishlist/Index" onclick="changeColor(this)">Lịch sử tiêm</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#section-form" onclick="changeColor(this)">Liên hệ</a>
    </li>
    <script>
        function changeColor(link) {

            var links = document.querySelectorAll('.nav-link');
            // Loại bỏ class active
            links.forEach(function (link) {
                link.classList.remove('active');
            });
            // Thêm class active vào phần tử được chọn
            link.classList.add('active');
        }
    </script>
}
@section body{
    <div class="page-banner overlay-dark bg-image" style="background-image: url(/Assets/images/bg_image_2.jpg); background-size: cover;">
        <div class="banner-section">
            <div class="container text-center wow fadeInUp">
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
                <h1 class="font-weight-normal">Về chúng tôi</h1>
            </div> <!-- .container -->
        </div> <!-- .banner-section -->
    </div> <!-- .page-banner -->

    <div class="page-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Hỏi đáp</span> cùng bác sĩ </p>
                    </div>
                </div>
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Bảo</span> vệ sức khoẻ bản thân và gia đình</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Nhận</span> lịch nhắc tiêm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 wow fadeInUp">
                    <h1 class="text-center mb-3">Hệ Thống Quản Lý Tiêm Chủng</h1>
                    <div class="text-lg">
                        <p>
                            Chào mừng đến với hệ thống tiêm chủng của chúng tôi! Chúng tôi là một đội ngũ y tế đầy nhiệt huyết,
                            luôn cam kết mang đến cho cộng đồng những dịch vụ tiêm chủng chất lượng và an toàn nhất.
                        </p>
                        <p>
                            Chúng tôi hiểu rằng tiêm chủng là một phương pháp phòng ngừa bệnh tốt nhất và cũng
                            là cách hiệu quả nhất để bảo vệ sức khỏe của bạn và cộng đồng.
                            Vì vậy, chúng tôi đặt sự an toàn và hiệu quả của tiêm chủng lên hàng đầu,
                            bằng cách sử dụng các loại vaccine được chứng nhận và các tiêu chuẩn y tế cao nhất.
                        </p>
                        <p>
                            Hệ thống tiêm chủng của chúng tôi cũng được thiết kế để đáp ứng nhu cầu của mọi người,
                            với đội ngũ y tế chuyên nghiệp và thân thiện, các thiết bị y tế hiện đại và không gian chờ đợi thoải mái.
                            Chúng tôi cũng cam kết tạo ra môi trường tiêm chủng thuận tiện và không gây ra bất kỳ căng thẳng hay lo lắng nào cho bệnh nhân.
                        </p>
                        <p>
                            Chúng tôi hi vọng rằng, với hệ thống tiêm chủng chất lượng và an toàn của chúng tôi,
                            sẽ giúp cộng đồng phòng ngừa bệnh tốt hơn và mang lại một cuộc sống khỏe mạnh hơn cho mọi người.
                            Cảm ơn vì đã tin tưởng và sử dụng dịch vụ của chúng tôi!
                        </p>
                    </div>
                </div>
                <div class="col-lg-10 mt-5">


                </div>
            </div>
        </div>
    </div>

}
@section form{
    <h1 class="text-center wow fadeInUp">Để Lại Lời Nhắn Cho Bác Sĩ</h1>

    <form class="main-form">
        <div class="row mt-5 ">
            <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                <input type="text" class="form-control" placeholder="Tên đầy đủ">
            </div>
            <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                <input type="text" class="form-control" placeholder="Địa chỉ email..">
            </div>
            <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                <input type="date" class="form-control">
            </div>
            <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                <select name="departement" id="departement" class="custom-select">
                    <option value="general">Tình Trạng Sức Khoẻ</option>
                    <option value="cardiology">Tốt</option>
                    <option value="dental">Bình Thường</option>
                    <option value="neurology">Xấu</option>
                </select>
            </div>
            <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                <input type="text" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                <textarea name="message" id="message" class="form-control" rows="6" placeholder="Lời nhắn.."></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Gửi yêu cầu</button>
    </form>
}

