
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navlink {
    <li class="nav-item">
        <a class="nav-link active" href="~/Home/Index" onclick="changeColor(this)">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Home/About" onclick="changeColor(this)">Về chúng tôi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/ListVaccine/Index" onclick="changeColor(this)">Vaccine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="changeColor(this)">Tin tức</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#section-form" onclick="changeColor(this)">Liên hệ</a>
    </li>
    <script>
        function changeColor(link) {

            var links = document.querySelectorAll('.nav-link');
            // Loại bỏ class active
            links.forEach(function (link) {
                link.classList.remove('active');
            });
            // Thêm class active vào phần tử được chọn
            link.classList.add('active');
        }
    </script>
}
@section body{
    @{
        var session = (VnuaVaccine.Common.UserLogin)Session[VnuaVaccine.Common.SessionConstants.USER_SESSION];
    }
    <div class="page-hero bg-image overlay-dark" style="background-image: url(/Assets/images/bg_image_2.jpg); background-size: cover; ">
        <div class="hero-section">
            <div class="container text-center wow zoomIn">
                <span class="subhead">Hệ thống thông tin tiêm chủng</span>
                <h1 class="display-4">VNUA-Vaccine</h1>
                @if (session == null)
                {
                    <a href="/Admin/Register" class="btn btn-primary">Đăng ký ngay</a>
                }
                else if (session.RoleId == 0)
                {
                    <a class="btn btn-primary" href="@Url.Action("Index", "HomeAdmin", new { area = "Admin" })">My Profile</a>

                }
                else if (session.RoleId == 1)
                {
                    <a class="btn btn-primary" href="@Url.Action("Index", "HomeUser", new { area = "Admin" })">My Profile</a>
                }
            </div>
        </div>
    </div>
    <div class="bg-light">
        <div class="page-section py-3 mt-md-n5 custom-index">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp">
                            <div class="circle-shape bg-secondary text-white">
                                <span class="mai-chatbubbles-outline"></span>
                            </div>
                            <p><span>Hỏi đáp</span> cùng bác sĩ </p>
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp">
                            <div class="circle-shape bg-primary text-white">
                                <span class="mai-shield-checkmark"></span>
                            </div>
                            <p><span>Bảo</span> vệ sức khoẻ bản thân và gia đình</p>
                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp">
                            <div class="circle-shape bg-accent text-white">
                                <span class="mai-basket"></span>
                            </div>
                            <p><span>Nhận</span> lịch nhắc tiêm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .page-section -->

        <div class="page-section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 py-3 wow fadeInUp">
                        <h1>Chào mừng bạn đến với <br> VNUA Vaccine</h1>
                        <p class="text-grey mb-4">Phần mềm cung cấp thông tin về các loại vaccine và lịch tiêm chủng tốt nhất cho từng trường hợp cụ thể, giúp cho bạn lựa chọn đúng loại vaccine phù hợp với sức khỏe và nhu cầu của mỗi cá nhân. Bạn cũng có thể xem lịch tiêm chủng trực quan dưới dạng biểu đồ hoặc bảng, giúp bạn dễ dàng theo dõi và phân tích sự thay đổi của lịch tiêm chủng.</p>
                        <a href="about.html" class="btn btn-primary">Đọc thêm</a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                        <div class="img-place custom-img-1">
                            <img src="~/Assets/images/bg-doctor3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .bg-light -->
    </div> <!-- .bg-light -->
    <!-- Tin tuc-->
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp">Tin Tức Mới Nhất</h1>
            <div class="row mt-5">
                <div class="col-lg-4 py-2 wow zoomIn">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-category">
                                <a href="#">2023</a>
                            </div>
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/Assets/Admin/img/blog/blog_3.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h5 class="post-title"><a href="blog-details.html">Tin tức mới nhất 2023</a></h5>
                            <div class="site-info">
                                <div class="avatar mr-2">
                                    <div class="avatar-img">
                                        <img src="~/Assets/Admin/img/person/person_1.jpg" alt="">
                                    </div>
                                    <span>Admin</span>
                                </div>
                                <span class="mai-time"></span> 2 ngày trước
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 wow zoomIn">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-category">
                                <a href="#">2023</a>
                            </div>
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/Assets/Admin/img/blog/blog_3.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h5 class="post-title"><a href="blog-details.html">Tin tức mới nhất 2023</a></h5>
                            <div class="site-info">
                                <div class="avatar mr-2">
                                    <div class="avatar-img">
                                        <img src="~/Assets/Admin/img/person/person_1.jpg" alt="">
                                    </div>
                                    <span>Admin</span>
                                </div>
                                <span class="mai-time"></span> 1 weeks ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-2 wow zoomIn">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-category">
                                <a href="#">2023</a>
                            </div>
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/Assets/Admin/img/blog/blog_3.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h5 class="post-title"><a href="blog-details.html">Tin tức mới nhất 2023</a></h5>
                            <div class="site-info">
                                <div class="avatar mr-2">
                                    <div class="avatar-img">
                                        <img src="~/Assets/Admin/img/person/person_1.jpg" alt="">
                                    </div>
                                    <span>Admin</span>
                                </div>
                                <span class="mai-time"></span> 2 months ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center mt-4 wow zoomIn">
                    <a href="blog.html" class="btn btn-primary">Xem thêm</a>
                </div>

            </div>
        </div>
    </div> <!-- .page-section -->
}

